.font_1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.font_2 {
  font-family: "Kolker Brush", cursive;
  font-weight: 400;
  font-style: normal;
}


  .modal-content {
    position: relative;
  }
  
  .rating-circle {
    width: 60px;
    height: 60px;
    background-color: #2623fe;
    color: #ffffff;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -30px; 
    left: -30px; 
    z-index: 1; 
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 2; 
  }
  
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }
  .form-container {
    display: flex;
    align-items: flex-start;
  }
  
  .search-container {
    flex-grow: 1;
  }
  
  .search-button {
    align-self: flex-start;
  }
  
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #2092a4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.swiper{
  width: 100%;
}
.actor-image {
  width: 100%;
  height: auto;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}



